// storie details start

section.section.storie-details

	img.storie-details__bg(src="img/storie_details-bg.png", alt="img")

	.container
		.row

			.col-xl-8.offset-xl-2

				.storie-details__top
					.storie-details__img
						img.img--bg(src="img/storie_details-img.jpg" alt="img")
					.storie-details__description
						.row.align-items-center

							.col-md-4.text-center.text-md-left

								h5.storie-details__name William Ellis

							.col-md-4.text-center.text-md-left

								span Donation So Far: #[strong 845$]

							.col-md-4.text-center.text-md-right

								a.storie-details__button.button.button--primary(href="#") + Donate

				p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel.]
				p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

				blockquote.storie-details__blockquote.blockquote
					span.blockquote__icon “
					p.blockquote__text Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. 

				h6.storie-details__title Save Homeless People
				p The aim is to promote the development of high-quality drinking water and sanitation services, accessible to everyone in the Sheohar District, and sustained by local communities, businesses, and governments.

				h6.storie-details__title Help Poor People in Winter
				p Sit amet, conse nil adipiscing Donec nec eros trist ms pellentesqu no liues il Ut et cong ue augue Maeq tristiq eget Lorem ipsum dolor sit amet, conse n pellentesqu no liues il Ut et congue augue Maecenas feec eros tristiq nsl lla pellent Ut et co augue Maecenas fermen tum vel Maecena fermentum vel anteante ipsum dolor sit amet, conse n pellentesqu no liues il Ut et congue augue Maecenas feec ero s tristiq nsl lla pellent

				h6.storie-details__title Need Volunteer Helping Hand
				p In a region where the majority of the population consists of subsistence farmers, access to capital and the development of markets systems is crucial. In response to this, the Sheohar 2 project’s C component focuses specifically on people’s livelihoods, access to credit, and the provision of WASH-related products and services.
				p Ut etipsum dolor sit amet, conse n pellentesqu no liues il Ut et congue augue Maecenas feec eros tristiq nsl lla pellent Ut et co augue Maec enas fermentum vel Maecena fermentum vel anteante

				p.text-filled Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder.

				h6.storie-details__title Giving Thankful to Helping Donor
				p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

				.storie-details__details
					.row.align-items-center

						.col-md-8

							.storie-details__tags Category: #[a(href="#").storie-details__tag #Donate] #[a(href="#").storie-details__tag #Homelesspeople] #[a(href="#").storie-details__tag #Poor] #[a(href="#").storie-details__tag #Child]

						.col-md-4

							ul.storie-details__socials
								li
									a(href="#")
										+fa('facebook')
								li
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
								li
									a(href="#")
										+fa('instagram')

// storie details end