// pagination start

ul.pagination
	li.pagination__item.pagination__item--prev
		+fa('angle-left')
		span Back
	li.pagination__item
		span 1
	li.pagination__item.pagination__item--active
		span 2
	li.pagination__item
		span 3
	li.pagination__item
		span 4
	li.pagination__item
		span 5
	li.pagination__item.pagination__item--disabled ...
	li.pagination__item
		span 12
	li.pagination__item.pagination__item--next
		span Next
		+fa('angle-right')


// pagination end