// user form start

form.form.user-form(action="javascript:void(0);")

	.row
		
		.col-lg-6

			input.form__field(type="text" name="first-name" placeholder="First Name")

			input.form__field(type="email" name="email" placeholder="E-mail")

			input.form__field(type="tel" name="phone-number" placeholder="Phone Number")

			input.form__field(type="number" name="date-of-birth" placeholder="Date of Birth")

			input.form__field(type="tel" name="adress" placeholder="Adress")

		.col-lg-6

			textarea.form__field.form__message(name="message" placeholder="About Occupation")

	.row

		.col-12

			button.form__submit(type="submit") Submit	

// user form end