// text section start

section.section.text-section

	img.text-section__bg(src="img/text-section.png", alt="img")

	.container
		.row

			.col-12.text-center

				h2.text-section__heading Volunteer

		.row

			.col-lg-8.offset-lg-4.col-xl-7.offset-xl-4

				h3.text-section__title Delivering help and hope #[br]to children through sponsorship.
				p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish
				a.button.button--primary(href="#") Become a Volunteer

// text section end