// checkout start

form.form.checkout-form(action="javascript:void(0);")
	.row

		.col-lg-7.col-xl-8

			.form__fieldset

				h6.form__title Shipping Address

				.row.offset-30

					.col-lg-6

						input.form__field(type="text" name="first-name" placeholder="First Name *")

					.col-lg-6

						input.form__field(type="text" name="last-name" placeholder="Last Name *")

					.col-lg-6

						input.form__field(type="email" name="email" placeholder="Email")

					.col-lg-6

						input.form__field(type="tel" name="phone-number" placeholder="Phone *")

					.col-12

						input.form__field(type="text" name="adress" placeholder="Adress Line 1 *")

					.col-lg-6

						select.form__select(name="state-select")
							option(value="value") State
							option(value="value2") Value 2
							option(value="value3") Value 3
							option(value="value4") Value 4
							option(value="value5") Value 5

					.col-lg-6

						select.form__select(name="country-select")
							option(value="value") Country
							option(value="value2") Value 2
							option(value="value3") Value 3
							option(value="value4") Value 4
							option(value="value5") Value 5

					.col-lg-6

						input.form__field(type="text" name="city" placeholder="City *")

					.col-lg-6

						input.form__field(type="text" name="zip" placeholder="Zip *")

					.col-12
						
						textarea.form__field.form__message(name="message" placeholder="Comment")

			.form__fieldset

				h6.form__title Shipping Method

				.row.offset-30

					.col-12

						select.form__select(name="shipping-select")
							option(value="value") Choose shipping method
							option(value="value2") Value 2
							option(value="value3") Value 3
							option(value="value4") Value 4
							option(value="value5") Value 5

			.form__fieldset

				h6.form__title Payment Method

				.row.offset-30

					.col-12.margin-30

						label.form__radio-label
							img.form__label-img(src="img/paypal.png", alt="paypal")
							input.form__input-radio(type="radio" name="method-select" value="paypal" checked)
							span.form__radio-mask.form__radio-mask

						label.form__radio-label
							img.form__label-img(src="img/klarna.png", alt="klarna")
							input.form__input-radio(type="radio" name="method-select" value="klarna")
							span.form__radio-mask.form__radio-mask

						label.form__radio-label
							img.form__label-img(src="img/visa.png", alt="visa")
							input.form__input-radio(type="radio" name="method-select" value="visa")
							span.form__radio-mask.form__radio-mask

					.col-lg-6

						input.form__field(type="text" name="first-name" placeholder="First Name *")

					.col-lg-6

						input.form__field(type="text" name="last-name" placeholder="Last Name *")

					.col-lg-4

						select.form__select(name="month-select")
							option(value="value") MM
							option(value="value2") Value 2
							option(value="value3") Value 3
							option(value="value4") Value 4
							option(value="value5") Value 5

					.col-lg-4

						select.form__select(name="year-select")
							option(value="value") YY
							option(value="value2") Value 2
							option(value="value3") Value 3
							option(value="value4") Value 4
							option(value="value5") Value 5

					.col-lg-4

						input.form__field(type="text" name="cvv" placeholder="CVV")

		.col-lg-5.col-xl-4

			.form__fieldset

				h6.form__title Order Summary

				.order-item
					.row.no-gutters.align-items-center

						.col-4.col-sm-3.col-md-2.col-lg-4

							.order-item__img
								img.img--contain(src="img/shop_7.jpg", alt="img")

						.col-4.col-sm-5.col-md-6.col-lg-4

							.order-item__description
								a.order-item__link(href="shop-product.html") Awesome Jacket
								span.order-item__count $18.00 x 1

						.col-3.text-center

							span.order-item__price $18.00

						.col-1.text-right

							span.order-item__remove

								+svg('remove')

				.order-item
					.row.no-gutters.align-items-center

						.col-4.col-sm-3.col-md-2.col-lg-4

							.order-item__img
								img.img--contain(src="img/shop_8.jpg", alt="img")

						.col-4.col-sm-5.col-md-6.col-lg-4

							.order-item__description
								a.order-item__link(href="shop-product.html") Black & White Cap
								span.order-item__count $5.00 x 2

						.col-3.text-center

							span.order-item__price $10.00

						.col-1.text-right

							span.order-item__remove

								+svg('remove')

				.order-item
					.row.no-gutters.align-items-center

						.col-4.col-sm-3.col-md-2.col-lg-4

							.order-item__img
								img.img--contain(src="img/shop_9.jpg", alt="img")

						.col-4.col-sm-5.col-md-6.col-lg-4

							.order-item__description
								a.order-item__link(href="shop-product.html") Sports Sport Suit
								span.order-item__count $35.00 x 1

						.col-3.text-center

							span.order-item__price $35.00

						.col-1.text-right

							span.order-item__remove

								+svg('remove')

			.form__fieldset

				.cart-totals

					h6.form__title Cart Totals

					ul.cart-totals__list
						li
							span Subtotal:
							span $ 58.00
						li
							span Sale:
							span $ 10.00
						li
							span Total:
							span $ 48.00

					button.form__submit(type="submit") Checkout

// checkout end