// info banner start

section.section.no-padding-top
	.container
		.row

			.col-12

				.info-banner
					img.img--layout(src="img/info-banner_layout.png", alt="img")
					.row.margin-bottom

						.col-12
							.heading.heading--primary.heading--center
								h2.heading__title.no-margin-bottom #[span Founding] #[span Partner]

					.row.align-items-center

						.col-lg-5

							.info-banner__img
								img(src="img/info-banner_img.png", alt="img")

						.col-lg-6

							p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish."]
							p Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch
							p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet						


// info banner end