// faq start

section.section.faq
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary
					span.heading__pre-title Faq
					h2.heading__title.no-margin-bottom #[span General] #[span Questions]

		.row

			.col-lg-8.col-xl-9

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Health in other Countries?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Water Delivery in Africa?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title We Build and Create?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How to became a volounteer?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Health in other Countries?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title We Build and Create?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How to became a volounteer?
						span.accordion__close
					.accordion__text-block
						p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.

			.col-lg-4.col-xl-3

				.faq-aside
					img.img--bg(src="img/about-us.jpg", alt="img")
					h5.faq-aside__title Any Question?
					p Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn
					a.faq-aside__link(href="#") ASk Question

// faq end