// counter style-2 start

section.section.counter.counter--style-2
	.counter--style-2__bg.jarallax
		picture
			source(srcset='img/counter.jpg', media='(min-width: 992px)')
			img.jarallax-img(src='img/counter.jpg', alt='img')

	.container
		.row.offset-margin

			.col-md-4.text-center

				.counter-item.counter-item--style-2
					.counter-item__top
						h6.counter-item__title People We Helped on 2018
					.counter-item__lower
						span.js-counter 200
						span k

			.col-md-4.text-center

				.counter-item.counter-item--style-2
					.counter-item__top
						h6.counter-item__title Dollars We Collected
					.counter-item__lower
						span.js-counter 65
						span bil

			.col-md-4.text-center

				.counter-item.counter-item--style-2
					.counter-item__top
						h6.counter-item__title Closed Projects
					.counter-item__lower
						span.js-counter 100
						span k +

// counter style-2 end