// subscribe start

section.subscribe
	.container
		.row.align-items-end

			.col-lg-4

				h2.subscribe__title Subscribe.

			.col-lg-8

				form.subscribe-form(action="javascript:void(0);")
					input.subscribe-form__input(type="email" name="email" placeholder="Enter your E-mail" required)
					input.subscribe-form__submit(type="submit" value="Submit")

// subscribe end