// pricing style-1 start

section.section.pricing.pricing-style--1
	.container
		.row.offset-margin

			.col-lg-4

				.heading.heading--primary
					span.heading__pre-title Pricing Tables
					h2.heading__title #[span Pricing] #[span Plan]
					p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata.

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan Standart
					.pricing-item__price Free
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li.item--disabled Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan Premium
					.pricing-item__price 0.99#[span /mo]
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li Modoc sucker yellowtail 
						li Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

// pricing style-1 end