// instagram start

section.section.instagram.no-padding-bottom
	.container
		.row.align-items-end.margin-bottom

			.col-md-7.col-lg-8
				
				.heading.heading--primary
					span.heading__pre-title Testimonials
					h2.heading__title.no-margin-bottom #[span # helpocharity]

			.col-md-5.col-lg-4.text-md-right

				// slider nav start
				.slider__nav.instagram-slider__nav
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

	.instagram-slider
	
		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_1.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_2.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_3.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_4.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_5.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_6.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/ig_4.jpg", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')
	
// instagram end