.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bag {
	font-size:(16/10)*1rem;
	width:(12.8/16)*1em;
}
.icon-blood {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-bootstrap {
	font-size:(32/10)*1rem;
	width:(174/32)*1em;
}
.icon-bread {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-charity {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-check {
	font-size:(488.88/10)*1rem;
	width:(488.88/488.88)*1em;
}
.icon-church {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-clock {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icon-comment {
	font-size:(510/10)*1rem;
	width:(510/510)*1em;
}
.icon-donate-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-donation {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-envelope {
	font-size:(483.3/10)*1rem;
	width:(483.3/483.3)*1em;
}
.icon-gulp {
	font-size:(46/10)*1rem;
	width:(76/46)*1em;
}
.icon-jquery {
	font-size:(38/10)*1rem;
	width:(134/38)*1em;
}
.icon-location-pin {
	font-size:(477/10)*1rem;
	width:(477/477)*1em;
}
.icon-logo {
	font-size:(641/10)*1rem;
	width:(536/641)*1em;
}
.icon-man {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-node {
	font-size:(44/10)*1rem;
	width:(151/44)*1em;
}
.icon-phone-call {
	font-size:(473.81/10)*1rem;
	width:(473.81/473.81)*1em;
}
.icon-placeholder {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-previous {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-question {
	font-size:(31.357/10)*1rem;
	width:(31.357/31.357)*1em;
}
.icon-remove {
	font-size:(348.334/10)*1rem;
	width:(348.333/348.334)*1em;
}
.icon-share {
	font-size:(481.6/10)*1rem;
	width:(481.6/481.6)*1em;
}
.icon-shirt {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-warning {
	font-size:(489.42/10)*1rem;
	width:(489.42/489.42)*1em;
}
