// stories start

section.section.stories
	.container
		.row.offset-70

			.col-md-10.offset-md-1.col-lg-12.offset-lg-0

				.stories-item

					.row.align-items-center

						.col-lg-6.col-xl-5

							.img-box
								img.img--layout(src="img/storie_1-layout.png", alt="img")
								.img-box__img
									img.img--bg(src="img/storie_1.jpg", alt="img")

						.col-lg-6.col-xl-6.offset-xl-1

							.heading.heading--primary
								span.heading__pre-title 01
								h2.heading__title #[span Jonathan] #[span Weaver]

							p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet.
							a.button.stories-item__button.button--primary(href="storie-details.html") Read Story

			.col-md-10.offset-md-1.col-lg-12.offset-lg-0

				.stories-item

					.row.align-items-center.flex-column-reverse.flex-lg-row

						.col-lg-6.col-xl-6

							.heading.heading--primary
								span.heading__pre-title 02
								h2.heading__title #[span Lillian] #[span Summers]
			
							p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet.
							a.button.stories-item__button.button--primary(href="storie-details.html") Read Story

						.col-lg-6.col-xl-5.offset-xl-1

							.img-box
								img.img--layout(src="img/storie_2-layout.png", alt="img")
								.img-box__img
									img.img--bg(src="img/storie_2.jpg", alt="img")

			.col-md-10.offset-md-1.col-lg-12.offset-lg-0

				.stories-item

					.row.align-items-center

						.col-lg-6.col-xl-5

							.img-box
								img.img--layout(src="img/storie_3-layout.png", alt="img")
								.img-box__img
									img.img--bg(src="img/storie_3.jpg", alt="img")

						.col-lg-6.col-xl-6.offset-xl-1

							.heading.heading--primary
								span.heading__pre-title 03
								h2.heading__title #[span Lambert] #[span Hodges]

							p Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch
							a.button.stories-item__button.button--primary(href="storie-details.html") Read Story

			.col-md-10.offset-md-1.col-lg-12.offset-lg-0

				.stories-item

					.row.align-items-center.flex-column-reverse.flex-lg-row

						.col-lg-6.col-xl-6

							.heading.heading--primary
								span.heading__pre-title 04
								h2.heading__title #[span William] #[span Ellis]

							p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet.
							a.button.stories-item__button.button--primary(href="storie-details.html") Read Story

						.col-lg-6.col-xl-5.offset-xl-1

							.img-box
								img.img--layout(src="img/storie_4-layout.png", alt="img")
								.img-box__img
									img.img--bg(src="img/storie_4.jpg", alt="img")

// stories end