// about us style-2 start

section.section.about-us.about-us--style-2.no-padding-top
	.container
		.row.align-items-center
		
			.col-lg-6

				h4.about-us__subtitle We work around the globe to save lives, defeat poverty and achieve social justice.
				p Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perchSharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata.
				p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern 

			.col-lg-6.col-xl-5.offset-xl-1

				.about-us__text-aside Our Mission

// about us style-2 end