// additional events start

section.section.additional-events.no-padding-top.no-padding-bottom
	.row.no-gutters

		.col-md-6

			.additional-event
				a.additional-event__img(href="event-details.html")
					img.img--bg(src="img/additional_1.jpg", alt="img")
					.additional-event__text
						span The Culture of
						span India. Volunteer

		.col-md-6

			.additional-event
				a.additional-event__img(href="event-details.html")
					img.img--bg(src="img/additional_2.jpg", alt="img")
					.additional-event__text
						span Trinity
						span Trash Bash

// additional events end