// statistics start

section.section.statistics.no-padding-top
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title What we Do
					h2.heading__title.no-margin-bottom #[span Our] #[span Statistics]

		.row.offset-margin

			.col-sm-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1.png", alt="img")
						span.js-counter 20
					.icon-item__text
						p Years of Experience

			.col-sm-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_2.png", alt="img")
						span.js-counter 32
					.icon-item__text
						p Country

			.col-sm-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3.png", alt="img")
						span.js-counter 200 
						span +
					.icon-item__text
						p Thousand People Helped

			.col-sm-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_4.png", alt="img")
						span.js-counter 65 
						span b
					.icon-item__text
						p Dollars We Collected				

// statistics end