// events inner start

section.section.events-inner

	img.events-inner__bg(src="img/events_inner-bg.png", alt="img")

	.container
		.row.offset-30

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 30
						span Oct, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_4.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") The Culture of India. Rebirth
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 31
						span Oct, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_5.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") Help for Language. Voluanteer
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 15
						span Nov, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_6.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") Bike Racing Charity Event 2019
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 21
						span Nov, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_7.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") Trinity Trash Bash
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 25
						span Nov, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_8.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") Snowdon by Night
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

			.col-xl-10.offset-xl-1

				.upcoming-item
					.upcoming-item__date
						span 01
						span Dec, 19
					.upcoming-item__body
						.row.align-items-center

							.col-lg-5.col-xl-4

								.upcoming-item__img
									img.img--bg(src="img/event_9.jpg", alt="img")
							
							.col-lg-7.col-xl-8

								.upcoming-item__description
									h6.upcoming-item__title
										a(href="event-details.html") The Big Sleep Out
									p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch.
									.upcoming-item__details
										p #[+svg('clock')] #[strong September 30,] 10:00 AM - #[strong October 31,] 18:00 PM
										p #[+svg('placeholder')] #[strong Dark Spurt,] San Francisco, CA 94528, USA

		.row

			.col-12

				include ../_pagination/_pagination

// events inner end