// causes start

section.section.causes

	img.causes__bg(src="img/causes_img.png", alt="img")

	.container
		.row.align-items-end

			.col-xl-5

				.heading.heading--primary
					span.heading__pre-title What we Do
					h2.heading__title #[span Helpo] #[span Causes]
					p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish

			.col-xl-6.offset-xl-1.d-none.d-xl-block

				.row.offset-margin

					.col-6

						.counter-item.counter-item--style-3
							.counter-item__top
								h6.counter-item__title People We Helped on 2018
							.counter-item__lower
								span.js-counter 200
								span k

					.col-6

						.counter-item.counter-item--style-3
							.counter-item__top
								h6.counter-item__title Dollars We Collected
							.counter-item__lower
								span.js-counter 65
								span bil

		.row.align-items-end.margin-bottom

			.col-sm-6

				a.button.button--primary(href="causes.html") More Causes

			.col-sm-6.d-flex.justify-content-sm-end

				// slider nav start
				.slider__nav.causes-slider__nav
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

	.causes-holder.offset-margin

		.causes-holder__wrapper

			.causes-slider.offset-margin

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="cause-details.html") Water Delivery in Africa
								p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
							.causes-item__img
								.causes-item__badge(style="background-color: #49C2DF") Water Delivery
								img.img--bg(src="img/causes_1.jpg", alt="img")
							.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 78%;")
										.progress-bar__value 78%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 25 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 20 350$
				
						a.button.causes-item__button.button--primary(href="#") + Donate

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="cause-details.html") Health in other Countries
								p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
							.causes-item__img
								.causes-item__badge(style="background-color: #F36F8F") Medicine
								img.img--bg(src="img/causes_2.jpg", alt="img")
							.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 23%;")
										.progress-bar__value 23%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 14 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 6 098$

						a.button.causes-item__button.button--primary(href="#") + Donate

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="cause-details.html") We Build and Create
								p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
							.causes-item__img
								.causes-item__badge(style="background-color: #2EC774") Education
								img.img--bg(src="img/causes_3.jpg", alt="img")
							.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 51%;")
										.progress-bar__value 51%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 150 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 76 500$
					
						a.button.causes-item__button.button--primary(href="#") + Donate

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="cause-details.html") Healthy Food
								p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
							.causes-item__img
								.causes-item__badge(style="background-color: #F8AC3A") Food
								img.img--bg(src="img/causes_4.jpg", alt="img")
							.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 50%;")
										.progress-bar__value 50%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 50 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 25 000$

						a.button.causes-item__button.button--primary(href="#") + Donate

// causes end