// projects start

section.section.projects.no-padding-top.no-padding-bottom
	.container
		.row.align-items-end.margin-bottom

			.col-lg-9

				.heading.heading--primary
					span.heading__pre-title What we Did
					h2.heading__title #[span Helpo] #[span Projects]
					p.no-margin-bottom Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish 

	.row.no-gutters.projects-masonry

		.col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-1.projects-masonry__item--vertical

			.projects-masonry__img
				img.img--bg(src="img/projects_1.jpg", alt="img")

			.projects-masonry__text(style="background-color: #2EC774;")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #49C2DF;") Water Delivery
					h3.projects-masonry__title 
						a(href="cause-details.html") More than One Life Changed
					p Rockweed gunnel; candlefish mail-cheeked fish, yellowtail snapper cuskfish elasmobranch seamoth triggerfish gar 
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

		.col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--horizontal

			.projects-masonry__img
				img.img--bg(src="img/projects_2.jpg", alt="img")

			.projects-masonry__text(style="background-color: #9BC35E;")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #F36F8F;") Medicine
					h3.projects-masonry__title 
						a(href="cause-details.html") Helpo for Help
					p Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish shortnose greeneye fusilier fish silver carp
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

		.col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-1.projects-masonry__item--primary

			.projects-masonry__img
				img.img--bg(src="img/projects_3.jpg", alt="img")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #F8AC3A;") Food
					h3.projects-masonry__title 
						a(href="cause-details.html") Help for Children of the East
					p Murray cod clownfish American sole rockfish dojo loach gulper, trout-perch footballfish, pelican eel. Spinefoot coelacanth eagle ray 
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

		.col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--primary

			.projects-masonry__img
				img.img--bg(src="img/projects_4.jpg", alt="img")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #2EC774;") Education
					h3.projects-masonry__title 
						a(href="cause-details.html") Help for Children of the East
					p Murray cod clownfish American sole rockfish dojo loach gulper, trout-perch footballfish, pelican eel. Spinefoot coelacanth eagle ray 
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

		.col-lg-6.col-xl-8.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--horizontal

			.projects-masonry__img
				img.img--bg(src="img/projects_5.jpg", alt="img")

			.projects-masonry__text(style="background-color: #E78F51;")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #2EC774;") Education
					h3.projects-masonry__title 
						a(href="cause-details.html") Help for Children of the East
					p Murray cod clownfish American sole rockfish dojo loach gulper, trout-perch footballfish, pelican eel. Spinefoot coelacanth eagle ray 
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

		.col-lg-6.col-xl-4.projects-masonry__item.projects-masonry__item--height-2.projects-masonry__item--primary

			.projects-masonry__img
				img.img--bg(src="img/projects_6.jpg", alt="img")

				.projects-masonry__inner
					span.projects-masonry__badge(style="background: #F36F8F;") Medicine
					h3.projects-masonry__title 
						a(href="cause-details.html") Helpo for Help
					p Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish shortnose greeneye fusilier fish silver carp
					.projects-masonry__details-holder
						.projects-masonry__details-item
							span Goal: 
							span 25 000$
						.projects-masonry__details-item
							span Date: 
							span 23 Jan'19

// projects end