// blog start

section.section.blog

	img.blog__bg(src="img/blog_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title News
					h2.heading__title.no-margin-bottom #[span Helpo] #[span Blog]

		.row.offset-margin

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/blog_1.jpg", alt="img")
						span.blog-item__badge(style="background-color: #49C2DF;") Water Delivery
					.blog-item__content
						h6.blog-item__title
							a(href="#") Save the Children's Role in Fight Against Malnutrition Hailed
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster
						.blog-item__details
							span.blog-item__date 23 Jan' 19
							span #[+svg('comment')] 501

			.col-md-6.col-lg-7.col-xl-8

				.blog-item.blog-item--style-2
					img.img--bg(src="img/blog_2.png", alt="img")
					.blog-item__content
						span.blog-item__badge(style="background-color: #2EC774;") Education
						h6.blog-item__title
							a(href="#") Back to the future: Quality education through respect, commitment and accountability
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail
					.blog-item__details
						span.blog-item__date 23 Jan' 19
						span #[+svg('comment')] 501

			.col-md-6.col-lg-7.col-xl-8

				.blog-item.blog-item--style-2
					img.img--bg(src="img/blog_3.png", alt="img")
					.blog-item__content
						span.blog-item__badge(style="background-color: #F8AC3A;") Food
						h6.blog-item__title
							a(href="#") Condolences to Families Effected By Flash Floods in Setswetla, Alexandra Township, Johannesburg
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail
					.blog-item__details
						span.blog-item__date 23 Jan' 19
						span #[+svg('comment')] 501

			.col-md-6.col-lg-5.col-xl-4

				.blog-item.blog-item--style-1
					.blog-item__img
						img.img--bg(src="img/blog_4.png", alt="img")
						span.blog-item__badge(style="background-color: #F36F8F;") Medicine
					.blog-item__content
						h6.blog-item__title
							a(href="#") Save the Children's Role in Fight Against Malnutrition Hailed
						p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail canthigaster
						.blog-item__details
							span.blog-item__date 23 Jan' 19
							span #[+svg('comment')] 501

// blog end