// about us start

section#about.section.about-us
	.container
		.row.align-items-center

			.col-lg-6

				.heading.heading--primary
					span.heading__pre-title About Us
					h2.heading__title #[span Help is Our] #[span Main Goal]

				p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish."]
				p Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch
				p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet

				a.button.button--primary(href="about.html") More About

			.col-lg-6.col-xl-5.offset-xl-1
				
				.info-box
					img.img--layout(src="img/about_layout.png" alt="img")
					img.img--bg(src="img/about-us.jpg", alt="img")
					h4.info-box__title We are Awesome Volounteer Team
					p Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfish
					a.info-box__link(href="volunteer.html") Become a volounteer

// about us end