// article start

section.section.article

	img.article__bg(src="img/events_inner-bg.png", alt="img")

	.container
		.row

			.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2

				.article__img
					img(src="img/article.jpg", alt="img")

				p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel.]
				p Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.
				p.article__text-filled.text-filled Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish
				p African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin thresher shark rudd.
				p Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail
				
				ul.unordered-list.article__list
					li Streamer fish California halibut Pacif Slickhead grunion lake trout
					li Canthigaster rostrata spikefish Brown trout loach summer flounder European minnow black
					li Orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish 
					li Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp
					li Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish, whiptail gulper chain pickerel 
					li Mud catfish piranha skilfish warty angler North American darter bonnetmouth beaked salmon

				p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. 

				.article-information
					.row.offset-30

						.col-sm-6.col-lg-4

							.article-information__item(style="background: #32C876;")
								h6.article-information__title Details
								.article-information__details
									.article-information__details-item
										span Start:
										span September 30’ 19
									.article-information__details-item
										span Finish:
										span October 05’ 19

						.col-sm-6.col-lg-4

							.article-information__item(style="background: #F76588;")
								h6.article-information__title Organizer
								.article-information__details
									.article-information__details-item
										span Phone:
										a(href="tel:+31859644725") +31 85 964 47 25
									.article-information__details-item
										span E-mail:
										a(href="mailto:helpo@gmail.com") helpo@gmail.com

						.col-sm-6.col-lg-4

							.article-information__item(style="background: #49C2DF;")
								h6.article-information__title Venue
								.article-information__details
									.article-information__details-item
										span Location:
										span Dark Spurt, San Francisco, CA 94528

// article end