// pricing style-3 start

section.section.pricing.pricing-style--3.no-padding-top.no-padding-bottom
	.container
		.row
			.col-lg-12

				.pricing-item.pricing-item--style-3
					.row.align-items-center
						.col-lg-2
							h6.pricing-item__plan Basic 
						.col-lg-5
							span Sharksucker sea toad candiru rocket danio tilefish stingray
						.col-lg-2.text-center
							.pricing-item__price Free
						.col-lg-3.text-lg-right
							a.pricing-item__button.button.button--primary(href="#") Get Started

			.col-lg-12

				.pricing-item.pricing-item--style-3
					.row.align-items-center
						.col-lg-2
							h6.pricing-item__plan Standart 
						.col-lg-5
							span Sharksucker sea toad candiru rocket danio tilefish stingray
						.col-lg-2.text-center
							.pricing-item__price 0.99#[span /mo]
						.col-lg-3.text-lg-right
							a.pricing-item__button.button.button--primary(href="#") Get Started

			.col-lg-12

				.pricing-item.pricing-item--style-3.pricing-item--selected
					.row.align-items-center
						.col-lg-2
							h6.pricing-item__plan Optimal 
						.col-lg-5
							span Sharksucker sea toad candiru rocket danio tilefish stingray
						.col-lg-2.text-center
							.pricing-item__price 0.99#[span /mo]
						.col-lg-3.text-lg-right
							a.pricing-item__button.button.button--primary(href="#") Get Started

// pricing style-3 end