// counter style-3 start

.container
	.row.offset-margin

		.col-md-4.text-center

			.counter-item.counter-item--style-3
				.counter-item__top
					h6.counter-item__title People We Helped on 2018
				.counter-item__lower
					span.js-counter 200
					span k

		.col-md-4.text-center

			.counter-item.counter-item--style-3
				.counter-item__top
					h6.counter-item__title Dollars We Collected
				.counter-item__lower
					span.js-counter 65
					span bil

		.col-md-4.text-center
		
			.counter-item.counter-item--style-3
				.counter-item__top
					h6.counter-item__title Closed Projects
				.counter-item__lower
					span.js-counter 100
					span k +

// counter style-3 end