// donors slider start

.slider-holder

	.donors-slider.donors-slider--style-1

		.donors-slider__item
			.donors-slider__img
				img(src="img/donor_1.png", alt="donor")

		.donors-slider__item
			.donors-slider__img
				img(src="img/donor_2.png", alt="donor")

		.donors-slider__item
			.donors-slider__img
				img(src="img/donor_3.png", alt="donor")
				
		.donors-slider__item
			.donors-slider__img
				img(src="img/donor_4.png", alt="donor")

// donors slider end