// filter panel start

ul.filter-panel
	li.filter-panel__item.filter-panel__item--active
		span All Causes
	li.filter-panel__item
		span Water Delivery
	li.filter-panel__item
		span Medicine
	li.filter-panel__item
		span Education
	li.filter-panel__item
		span Food

// filter panel end