// pricing style-2 start

section.section.pricing.pricing-style--2.no-padding-top.no-padding-bottom
	.container
		.row.offset-margin
	
			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3
	
				.pricing-item.pricing-item--style-2
					h6.pricing-item__plan Basic
					.pricing-item__price Free
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li.item--disabled Midshipman dartfish 
						li.item--disabled Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started
	
			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3
			
				.pricing-item.pricing-item--style-2
					h6.pricing-item__plan Standart
					.pricing-item__price 0.99#[span /mo]
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li.item--disabled Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started
	
			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3
			
				.pricing-item.pricing-item--style-2.pricing-item--selected
					h6.pricing-item__plan Optimal
					.pricing-item__price 1.99#[span /mo]
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started
	
			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3
			
				.pricing-item.pricing-item--style-2
					h6.pricing-item__plan Premium
					.pricing-item__price 3.99#[span /mo]
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li Modoc sucker yellowtail 
						li Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

// pricing style-2 end