extends ../layouts/primary.pug

block variables

	-var page = 'cause_details'

	-var type = 'inner'

	-var dest = 'causes-pages'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start
	
	header.header.header--inner
		.container-fluid
			.row.no-gutters.justify-content-between

				.col-auto.d-flex.align-items-center
					.dropdown-trigger.dropdown-trigger--inner.d-none.d-sm-block
						.dropdown-trigger__item

					.header-logo
						a.header-logo__link(href="index.html")
							img.header-logo__img(src="img/logo_dark.png", alt="logo")

				.col-auto
					include ../blocks/_main-menu/_main-menu

				.col-auto.d-flex.align-items-center

					// lang select start
					ul.lang-select.lang-select--inner
						li.lang-select__item.lang-select__item--active
							span En
							ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end				

					a.button.button--squared(href="#") 
						span Donate

					.dropdown-trigger.dropdown-trigger--inner.d-block.d-sm-none
						.dropdown-trigger__item

	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/cause_details.jpg' media='(min-width: 992px)')
			img.img--bg(src='img/cause_details.jpg' alt='img')

		.promo-primary__description 
			span Charity

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Helpo
							h1.promo-primary__title #[span Healthy] #[span Food]

	include ../blocks/_donation/_donation

	section.section
		.container
			.row

				.col-12

					include ../blocks/_cause-details-tabs/_cause-details-tabs

	// causes start

	section.section.causes.causes--style-2

		img.causes__bg(src="img/causes_img-2.png", alt="img")

		.container
			.row.align-items-end.margin-bottom

				.col-md-6.col-xl-5

					.heading.heading--primary.no-margin-bottom
						span.heading__pre-title What we Do
						h2.heading__title.no-margin-bottom #[span Helpo] #[span Causes]

				.col-md-6.col-xl-6.offset-xl-1.d-flex.justify-content-md-end

					// slider nav start
					.slider__nav.causes-slider__nav
						.slider__arrows
							.slider__prev
								+fa('chevron-left')
							.slider__next
								+fa('chevron-right')
					// slider nav end

		.causes-holder.offset-margin

			.causes-holder__wrapper

				.causes-slider.offset-margin

					.causes-slider__item

						.causes-item.causes-item--primary
							.causes-item__body
								.causes-item__top
									h6.causes-item__title 
										a(href="cause-details.html") Water Delivery in Africa
									p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
								.causes-item__img
									.causes-item__badge(style="background-color: #49C2DF") Water Delivery
									img.img--bg(src="img/causes_1.jpg", alt="img")
								.causes-item__lower
									.progress-bar
										.progress-bar__inner(style="width: 78%;")
											.progress-bar__value 78%
									.causes-item__details-holder
										.causes-item__details-item
											span Goal: 
											span 25 000$
										.causes-item__details-item.text-right
											span Pledged: 
											span 20 350$

							a.button.causes-item__button.button--primary(href="#") + Donate

					.causes-slider__item

						.causes-item.causes-item--primary
							.causes-item__body
								.causes-item__top
									h6.causes-item__title 
										a(href="cause-details.html") Health in other Countries
									p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
								.causes-item__img
									.causes-item__badge(style="background-color: #F36F8F") Medicine
									img.img--bg(src="img/causes_2.jpg", alt="img")
								.causes-item__lower
									.progress-bar
										.progress-bar__inner(style="width: 23%;")
											.progress-bar__value 23%
									.causes-item__details-holder
										.causes-item__details-item
											span Goal: 
											span 14 000$
										.causes-item__details-item.text-right
											span Pledged: 
											span 6 098$

							a.button.causes-item__button.button--primary(href="#") + Donate

					.causes-slider__item

						.causes-item.causes-item--primary
							.causes-item__body
								.causes-item__top
									h6.causes-item__title 
										a(href="cause-details.html") We Build and Create
									p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
								.causes-item__img
									.causes-item__badge(style="background-color: #2EC774") Education
									img.img--bg(src="img/causes_3.jpg", alt="img")
								.causes-item__lower
									.progress-bar
										.progress-bar__inner(style="width: 51%;")
											.progress-bar__value 51%
									.causes-item__details-holder
										.causes-item__details-item
											span Goal: 
											span 150 000$
										.causes-item__details-item.text-right
											span Pledged: 
											span 76 500$

							a.button.causes-item__button.button--primary(href="#") + Donate

					.causes-slider__item

						.causes-item.causes-item--primary
							.causes-item__body
								.causes-item__top
									h6.causes-item__title 
										a(href="cause-details.html") Healthy Food
									p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail
								.causes-item__img
									.causes-item__badge(style="background-color: #F8AC3A") Food
									img.img--bg(src="img/causes_4.jpg", alt="img")
								.causes-item__lower
									.progress-bar
										.progress-bar__inner(style="width: 50%;")
											.progress-bar__value 50%
									.causes-item__details-holder
										.causes-item__details-item
											span Goal: 
											span 50 000$
										.causes-item__details-item.text-right
											span Pledged: 
											span 25 000$

							a.button.causes-item__button.button--primary(href="#") + Donate

	// causes end

block footer

	include ../blocks/_footer/_footer