extends ../layouts/primary.pug

block variables

	-var page = 'pricing'

	-var type = 'inner'

	-var dest = 'pages'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start
	
	header.header.header--inner
		.container-fluid
			.row.no-gutters.justify-content-between

				.col-auto.d-flex.align-items-center
					.dropdown-trigger.dropdown-trigger--inner.d-none.d-sm-block
						.dropdown-trigger__item

					.header-logo
						a.header-logo__link(href="index.html")
							img.header-logo__img(src="img/logo_dark.png", alt="logo")

				.col-auto
					include ../blocks/_main-menu/_main-menu

				.col-auto.d-flex.align-items-center

					// lang select start
					ul.lang-select.lang-select--inner
						li.lang-select__item.lang-select__item--active
							span En
							ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end				

					a.button.button--squared(href="#") 
						span Donate

					.dropdown-trigger.dropdown-trigger--inner.d-block.d-sm-none
						.dropdown-trigger__item

	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/causes.jpg', media='(min-width: 992px)')
			img.img--bg(src='img/causes.jpg', alt='img')

		.promo-primary__description 
			span Charity

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Helpo
							h1.promo-primary__title #[span Pricing] #[span Plans]

	include ../blocks/_pricing--style-1/_pricing--style-1

	// pricing style-2 start

	section.section.pricing.pricing-style--2
		.container

			.row.margin-bottom
				.heading.heading--primary.heading--center
					span.heading__pre-title Pricing Tables
					h2.heading__title.no-margin-bottom #[span Pricing] #[span Plan]					

			.row.offset-margin

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3

					.pricing-item.pricing-item--style-2
						h6.pricing-item__plan Basic
						.pricing-item__price Free
						ul.pricing-item__list
							li Canthigaster rostrata. 
							li.item--disabled Midshipman dartfish 
							li.item--disabled Modoc sucker yellowtail 
							li.item--disabled Kingfish basslet.
						a.pricing-item__button.button.button--primary(href="#") Get Started

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3

					.pricing-item.pricing-item--style-2
						h6.pricing-item__plan Standart
						.pricing-item__price 0.99#[span /mo]
						ul.pricing-item__list
							li Canthigaster rostrata. 
							li Midshipman dartfish 
							li.item--disabled Modoc sucker yellowtail 
							li.item--disabled Kingfish basslet.
						a.pricing-item__button.button.button--primary(href="#") Get Started

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3

					.pricing-item.pricing-item--style-2.pricing-item--selected
						h6.pricing-item__plan Optimal
						.pricing-item__price 1.99#[span /mo]
						ul.pricing-item__list
							li Canthigaster rostrata. 
							li Midshipman dartfish 
							li Modoc sucker yellowtail 
							li.item--disabled Kingfish basslet.
						a.pricing-item__button.button.button--primary(href="#") Get Started

				.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-3

					.pricing-item.pricing-item--style-2
						h6.pricing-item__plan Premium
						.pricing-item__price 3.99#[span /mo]
						ul.pricing-item__list
							li Canthigaster rostrata. 
							li Midshipman dartfish 
							li Modoc sucker yellowtail 
							li Kingfish basslet.
						a.pricing-item__button.button.button--primary(href="#") Get Started

	// pricing style-2 end

	include ../blocks/_bottom-bg/_bottom-bg

block footer

	include ../blocks/_footer/_footer