// typography start

section.section.typography
	.container
		.row

			.col-12

				h1(style="margin-bottom: 15px;") H1 Heading
				h2(style="margin-bottom: 24px;") H2 Heading
				h3(style="margin-bottom: 28px;") H3 Heading
				h4(style="margin-bottom: 32px;") H4 Heading
				h5(style="margin-bottom: 36px;") H5 Heading
				h6.margin-bottom H6 Heading

			.col-12

				p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel.]

				p.no-margin-bottom Minnow snoek icefish velvet-belly shark, California halibut #[a(href="#") round stingray northern sea robin]. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish #[s Modoc sucker, yellowtail kingfish basslet.] Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span Drop] #[span Caps]
		.row

			.col-12

				.dropcap
					p.dropcap__text African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish. Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California halibut round stingray northern sea robin thresher shark rudd. Southern grayling trout-perch. Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish basslet. Buri chimaera triplespine northern sea robin zingel lancetfish galjoen fish, catla wolffish, mosshead warbonnet grouper darter wels catfish mud catfish.

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span List] #[span Style]				

		.row

			.col-md-6.col-lg-4

				ul.unordered-list
					li Streamer fish California halibut 
					li Pacif Slickhead grunion lake trout.
					li Canthigaster rostrata spikefish
					li Brown trout loach summer flounder
					li European minnow black dragonfish
					li Orbicular batfish stingray

			.col-md-6.col-lg-4

				ol.ordered-list
					li Streamer fish California halibut 
					li Pacif Slickhead grunion lake trout.
					li Canthigaster rostrata spikefish
					li Brown trout loach summer flounder
					li European minnow black dragonfish
					li Orbicular batfish stingray

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span Block] #[span Quote]
		.row

			.col-12

				blockquote.blockquote
					span.blockquote__icon “
					p.blockquote__text Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				p.text-filled Streamer fish California halibut Pacific saury. Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder. Sucker lionfish garibaldi surgeonfish Celebes rainbowfish forehead brooder, mudskipper barred danio bat ray bighead carp. Tripod fish rudd, mouthbrooder pirate perch pencil catfish lanternfish,

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span 1/2] #[span Two Columns]
		.row

			.col-12

				.two-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish;
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden orbicular velvetfish

section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span 1/3] #[span Three Columns]
		.row

			.col-12

				.three-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; 
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark
					p Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose
				
section.section.typography.no-padding-top
	.container
		.row

			.col-12

				.heading.heading--primary.margin-bottom
					h2.heading__title.no-margin-bottom #[span 1/4] #[span Four Columns]
		.row

			.col-12

				.four-columns
					p Burma danio black bass straptail southern Dolly Varden orbicular velvetfish trumpetfish; bluntnose minnow. Hatchetfish pricklefish
					p Hatchetfish pricklefish sixgill ray sawfish scaly dragonfish! Grayling Mexican golden trout; Chinook salmon bramble shark sand
					p Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonne. Burma danio black bass straptail southern Dolly Varden 
					p Chinook salmon bramble shark sand stargazer Steve fish. Scat zebra pleco graveldiver river shark tripod fish; flagtail bala shark warbonnet

// typography end