// donors start

section.section.donors.no-padding-top
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Donors
					h2.heading__title.no-margin-bottom #[span Who Help] #[span Us]

		.row
		
			.col-12

				include ../_donors-slider/_donors-slider

// donors end