// video block start

section.section.video-block.no-padding-top
	.container
		.row
			.col-12
				.video-frame
					img.img--bg(src="img/video_frame.png", alt="frame")
					a.video-trigger.video-frame__trigger(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
						span.video-frame__icon
							+fa('play')
						span.video-frame__text Watch our video
					img.video-frame__img-layout(src="img/video_frame-layout.png", alt="layout")

// video block end