// register form start

form.form.register-form(action="javascript:void(0);")

	.row

		.col-lg-6

			input.form__field(type="text" name="username" placeholder="Username")

		.col-lg-6

			input.form__field(type="email" name="email" placeholder="E-mail")

		.col-lg-6

			input.form__field(type="password" name="password" placeholder="Password")

		.col-lg-6

			input.form__field(type="password" name="confirm-password" placeholder="Confirm Password")

		.col-12

			button.form__submit(type="submit") Register

// register form end