// pricing style-4 start

section.section.pricing.pricing--style-4
	.pricing--style-4__bg.jarallax
		picture
			source(srcset='img/testimonials_2.jpg', media='(min-width: 992px)')
			img.jarallax-img(src='img/testimonials_2.jpg', alt='img')

	.container
		.row.offset-margin

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan Basic
					.pricing-item__price Free
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li.item--disabled Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan Standart
					.pricing-item__price Free
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li.item--disabled Modoc sucker yellowtail 
						li.item--disabled Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-xl-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan Premium
					.pricing-item__price 0.99#[span /mo]
					ul.pricing-item__list
						li Canthigaster rostrata. 
						li Midshipman dartfish 
						li Modoc sucker yellowtail 
						li Kingfish basslet.
					a.pricing-item__button.button.button--primary(href="#") Get Started

// pricing style-4 end