// events start

section.section.events

	img.events__bg(src="img/events_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Events
					h2.heading__title #[span Helpo Holds] #[span for You]
					p.no-margin-bottom Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish

		.row

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/event_1.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Help for Language. Voluanteer
						p #[b Dark Spurt,] San Francisco, CA 94528, USA
						p #[b September 30 - October 31,] 2019
						p #[b 10:00 AM - 18:00 PM,] Everyday

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/event_2.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") The Culture of Africa. Rebirth
						p #[b Dark Spurt,] San Francisco, CA 94528, USA
						p #[b September 30 - October 31,] 2019
						p #[b 10:00 AM - 18:00 PM,] Everyday

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/event_3.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Help for Language. Voluanteer
						p #[b Dark Spurt,] San Francisco, CA 94528, USA
						p #[b April 15 - April 20,] 2019
						p #[b 10:00 AM - 15:00 PM,] Everyday

		.row

			.col-12.text-center

				a.button.button--primary(href="#") View all events

// events end