extends ../layouts/primary.pug

block variables

	-var page = 'pricing-plan'

	-var type = 'inner'

	-var dest = 'elements'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start
	
	header.header.header--inner
		.container-fluid
			.row.no-gutters.justify-content-between

				.col-auto.d-flex.align-items-center
					.dropdown-trigger.dropdown-trigger--inner.d-none.d-sm-block
						.dropdown-trigger__item

					.header-logo
						a.header-logo__link(href="index.html")
							img.header-logo__img(src="img/logo_dark.png", alt="logo")

				.col-auto
					include ../blocks/_main-menu/_main-menu

				.col-auto.d-flex.align-items-center

					// lang select start
					ul.lang-select.lang-select--inner
						li.lang-select__item.lang-select__item--active
							span En
							ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end

					a.button.button--squared(href="#")
						span Donate

					.dropdown-trigger.dropdown-trigger--inner.d-block.d-sm-none
						.dropdown-trigger__item

	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/alerts.jpg', media='(min-width: 992px)')
			img.img--bg(src='img/alerts.jpg', alt='img')

		.promo-primary__description 
			span Elements

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Helpo
							h1.promo-primary__title #[span Pricing Plan]

	section.section.elements
		.container
			.row
				.col-auto
					h4.elements__title Variant 1

		include ../blocks/_pricing--style-1/_pricing--style-1

	section.section.elements.no-padding-top
		.container
			.row
				.col-auto
					h4.elements__title Variant 2

		include ../blocks/_pricing--style-2/_pricing--style-2

	section.section.elements.no-padding-top
		.container
			.row
				.col-auto
					h4.elements__title Variant 3

		include ../blocks/_pricing--style-4/_pricing--style-4

	section.section.elements.no-padding-top
		.container
			.row
				.col-auto
					h4.elements__title Variant 4

		include ../blocks/_pricing--style-3/_pricing--style-3

	include ../blocks/_bottom-bg/_bottom-bg

block footer

	include ../blocks/_footer/_footer