extends ../layouts/primary.pug

block variables

	-var page = 'team'

	-var type = 'inner'

	-var dest = 'elements'

block header

	include ../blocks/_aside-dropdown/_aside-dropdown

	// header start
	
	header.header.header--inner
		.container-fluid
			.row.no-gutters.justify-content-between

				.col-auto.d-flex.align-items-center
					.dropdown-trigger.dropdown-trigger--inner.d-none.d-sm-block
						.dropdown-trigger__item

					.header-logo
						a.header-logo__link(href="index.html")
							img.header-logo__img(src="img/logo_dark.png", alt="logo")

				.col-auto
					include ../blocks/_main-menu/_main-menu

				.col-auto.d-flex.align-items-center

					// lang select start
					ul.lang-select.lang-select--inner
						li.lang-select__item.lang-select__item--active
							span En
							ul.lang-select__sub-list
								li
									a(href="#") French
								li
									a(href="#") Spanish
								li
									a(href="#") Deutsch
								li
									a(href="#") Russian
					// lang select end				

					a.button.button--squared(href="#") 
						span Donate

					.dropdown-trigger.dropdown-trigger--inner.d-block.d-sm-none
						.dropdown-trigger__item

	// header end

block main

	section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))

		picture
			source(srcset='img/alerts.jpg', media='(min-width: 992px)')
			img.img--bg(src='img/alerts.jpg', alt='img')

		.promo-primary__description 
			span Elements

		.container
			.row
				.col-auto
					.align-container
						.align-container__item
							span.promo-primary__pre-title Helpo
							h1.promo-primary__title #[span Team]

	section.section.elements
		.container
			.row
				.col-auto
					h4.elements__title Variant 1

			.row

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_1.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_1.jpg", alt="teammate")
						.team-item__description
							.team-item__name Chris Patt
							.team-item__position Ceo/Founder
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_2.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_2.jpg", alt="teammate")
						.team-item__description
							.team-item__name Mike Carter
							.team-item__position Manager
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_3.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_3.jpg", alt="teammate")
						.team-item__description
							.team-item__name Bella Crusio
							.team-item__position Leader
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_4.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_4.jpg", alt="teammate")
						.team-item__description
							.team-item__name Cesario Lee
							.team-item__position Founder
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_5.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_5.jpg", alt="teammate")
						.team-item__description
							.team-item__name Ched Kurtsovski
							.team-item__position Volunteer
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_6.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_6.jpg", alt="teammate")
						.team-item__description
							.team-item__name Lisa Chester
							.team-item__position Volunteer
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_7.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_7.jpg", alt="teammate")
						.team-item__description
							.team-item__name Aisha Ten
							.team-item__position CEO
					// iteam end

				.col-sm-6.col-lg-4.col-xl-3

					// iteam start				
					.team-item.team-item--rounded
						ul.team-item__socials
							li.item--active
								a(href="#")
									+fa('facebook')
							li
								a(href="#")
									+fa('twitter')
							li
								a(href="#")
									+fa('youtube-play')
						.team-item__img-holder
							img.img--layout(src="img/team_8.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_8.jpg", alt="teammate")
						.team-item__description
							.team-item__name Jack Blumberg
							.team-item__position Volunteer
					// iteam end					

	section.section.elements.no-padding-top
		.container
			.row
				.col-auto
					h4.elements__title Variant 2

			.row.offset-margin
			
				.col-md-6.col-xl-4

					// iteam start				
					.team-item.team-item--horizontal
						.team-item__img-holder
							img.img--layout(src="img/team_1.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_1.jpg", alt="teammate")
						.team-item__description
							.team-item__name Chris Patt
							.team-item__position Ceo/Founder
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
					// iteam end

				.col-md-6.col-xl-4

					// iteam start				
					.team-item.team-item--horizontal
						.team-item__img-holder
							img.img--layout(src="img/team_5.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_2.jpg", alt="teammate")
						.team-item__description
							.team-item__name Mike Carter
							.team-item__position Manager
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
					// iteam end

				.col-md-6.col-xl-4

					// iteam start				
					.team-item.team-item--horizontal
						.team-item__img-holder
							img.img--layout(src="img/team_7.png", alt="layout")
							.team-item__img
								img.img--bg(src="img/team_3.jpg", alt="teammate")
						.team-item__description
							.team-item__name Bella Crusio
							.team-item__position Leader
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
					// iteam end

	section.section.elements.no-padding-top
		.container
			.row
				.col-auto
					h4.elements__title Variant 3

			.row.offset-margin

				.col-sm-6.col-lg-4.col-xl-3

					// item start
					.team-item.team-item--primary
						.team-item__img
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li.item--active
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
							img.img--bg(src="img/team_1.jpg", alt="teammate")
						.team-item__description
							.team-item__name Chris Patt
							.team-item__position CEO/Founder
					// item end

				.col-sm-6.col-lg-4.col-xl-3

					// item start
					.team-item.team-item--primary
						.team-item__img
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li.item--active
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
							img.img--bg(src="img/team_6.jpg", alt="teammate")
						.team-item__description
							.team-item__name Lisa Cherster
							.team-item__position CEO/Founder
					// item end

				.col-sm-6.col-lg-4.col-xl-3

					// item start
					.team-item.team-item--primary
						.team-item__img
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li.item--active
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
							img.img--bg(src="img/team_2.jpg", alt="teammate")
						.team-item__description
							.team-item__name Mike Carter
							.team-item__position Volunteer
					// item end

				.col-sm-6.col-lg-4.col-xl-3

					// item start
					.team-item.team-item--primary
						.team-item__img
							ul.team-item__socials
								li
									a(href="#")
										+fa('facebook')
								li.item--active
									a(href="#")
										+fa('twitter')
								li
									a(href="#")
										+fa('youtube-play')
							img.img--bg(src="img/team_7.jpg", alt="teammate")
						.team-item__description
							.team-item__name Aisha Ten
							.team-item__position CEO
					// item end


	include ../blocks/_bottom-bg/_bottom-bg

block footer

	include ../blocks/_footer/_footer