// testimonials style-2 start

section.section.testimonials--style-2
	.testimonials--style-2__bg.jarallax
		picture
			source(srcset='img/testimonials_2.jpg', media='(min-width: 992px)')
			img.jarallax-img(src='img/testimonials_2.jpg', alt='img')
	.container
		.row
		
			.col-xl-4

				.heading.heading--primary
					span.heading__pre-title Testimonials
					h2.heading__title #[span What People]#[br]#[span Says About Us]

				// slider nav start
				.slider__nav.testimonials-style-2__nav
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

			.col-xl-8

				.testimonials-slider.testimonials-slider--style-2

					.testimonials-slider__item
						.testimonials-slider__icon “
						.testimonials-slider__text
							p Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
							.testimonials-slider__author
								span.testimonials-slider__name Jack Wolfskin, 
								span.testimonials-slider__position Volunteer

					.testimonials-slider__item
						.testimonials-slider__icon “
						.testimonials-slider__text
							p Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
							.testimonials-slider__author
								span.testimonials-slider__name Jack Wolfskin, 
								span.testimonials-slider__position Volunteer
								
					.testimonials-slider__item
						.testimonials-slider__icon “
						.testimonials-slider__text
							p Slickhead grunion lake trout. Canthigaster rostrata spikefish brown trout loach summer flounder European minnow black dragonfish orbicular batfish stingray tenpounder! Flying characin herring, Moses sole sea snail grouper discus. European eel slender snipe eel. Gulper eel dealfish ocean sunfish; rohu yellow-and-black triplefin Atlantic saury swordfish southern sandfish Rudderfish long-finned pikerazorfish menhaden paradise fish, barramundi oceanic flyingfish. Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish cutlassfish broadband dogfish whalefish.
							.testimonials-slider__author
								span.testimonials-slider__name Jack Wolfskin, 
								span.testimonials-slider__position Volunteer

// testimonials style-2 end