include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")

	block variables

	head

		include ../blocks/_head/_head

	body

		.page-wrapper

			block header

			main.main

				block main

			block footer

		include ../blocks/_scripts/_scripts